@model SugarMama.Web.Models.ContactFormViewModel
@using CaptchaMvc.HtmlHelpers

@{
    ViewBag.Title = "SugarMaMa Skin · Sugar · Tan - Contact";
}

<div class="container">
    <div class="jumbotron">
        <h1>Questions or comments?</h1>
        <h3>Please <u>call</u> to schedule an appointment.  Online booking coming soon!</h3>
        <h3>Your feedback is welcome!  Feel free to fill out the form below or send me an <a href="mailto:deborah@sugarmamaskinsugartan.com">e-mail</a>.</h3>
    </div>

    <div class="row" style="margin-left: 2px;">
        <div class="form-signin col-md-6">
            @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken();
                @Html.ValidationSummary(true);
                <div class="form-group">
                    <label class="form-label">Your Email Address</label>
                    @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control", @placeholder = "Email Address"})
                    @Html.ValidationMessageFor(model => model.EmailAddress)
                </div>
                <div class="form-group">
                    <label class="form-label">Subject</label>
                    @Html.TextBoxFor(model => model.Subject, new { @class = "form-control", @placeholder = "Subject"})
                    @Html.ValidationMessageFor(model => model.Subject)
                </div>
                <div class="form-group">
                    @Html.TextAreaFor(model => model.Body, new { @class = "form-control", @rows = "8", @placeholder = "Enter message here..."})
                    @Html.ValidationMessageFor(model => model.Body)
                </div>
                if (TempData["ErrorMessage"] != String.Empty)
                {
                    <div style="color:red; font-family:'Century Gothic', Arial;">@TempData["ErrorMessage"]</div>
                }
                <div style="font-family:'Century Gothic', Arial; font-weight:100; margin-top:-20px;">
                    @Html.Captcha("Try another", "Enter the text you see above:", 7, "Is required field", true)
                    <br />
                </div>
            
                <button type="submit" class="btn btn-success">Send</button>
            }
        </div>
        
        <div class="col-md-6">
            <div style="text-align:center;">
                <img src="/content/images/sugarMamaMain.png" alt="SugarMaMa Skin · Sugar · Tan " style="height:65%; width:65%" />
                <br />
                <br />
                <p style="font-family:'Century Gothic', Arial; font-weight:100; font-size:small;"><span style="color:rgb(103, 50, 11); text-decoration:underline;">address</span></p>
                <p style="font-family:'Century Gothic', Arial; font-weight:100; font-size:medium; margin-top:-10px; letter-spacing:.2em;">12362 beach blvd</p>
                <p style="font-family:'Century Gothic', Arial; font-weight:100; font-size:medium; margin-top:-10px; letter-spacing:.2em;">suite 29b</p>
                <p style="font-family:'Century Gothic', Arial; font-weight:100; font-size:medium; margin-top:-10px; letter-spacing:.2em;">stanton, ca 90680</p>
                <hr style="border-color:saddlebrown; max-width:50%;" />
                <p style="font-family:'Century Gothic', Arial; font-weight:100; font-size:small;"><span style="color:rgb(103, 50, 11); text-decoration:underline;">phone/appointments</span></p>
                <p style="font-family:'Century Gothic', Arial; font-weight:100; font-size:medium; margin-top:-10px; letter-spacing:.2em;">562.484.8653</p>
                <hr style="border-color:saddlebrown; max-width:50%;" />
                <p style="font-family:'Century Gothic', Arial; font-weight:100; font-size:small;"><span style="color:rgb(103, 50, 11); text-decoration:underline;">e-mail</span></p>
                <p style="font-family:'Century Gothic', Arial; font-weight:100; font-size:medium; margin-top:-10px; letter-spacing:-1px"><a style="color:black" href="mailto:deborah@sugarmamaskinsugartan.com">deborah@sugarmamaskinsugartan.com</a></p>

            
            </div>
            <br />
        </div>    
    </div>

    
</div>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


